*.apk
*.ap_

*.dex

*.class

.gradle/

bin/
gen/
build/
/build

.idea/
*.iml
.gradle

.DS_Store
/build
/captures

local.properties


Thumbs.db

*.apk
*.ap_

*.dex

*.class

.gradle/

bin/
gen/
build/
/build

.idea/
*.iml
.gradle

.DS_Store
/build
/captures

local.properties

Thumbs.db
